@page "/"
@inject IFileUploadService FileService

<h3 class="data-header">File Upload</h3>
<div class="data-container">

    <EditForm Model="@_fileUploadModel" OnValidSubmit="@UploadFileAsync">
        <div class="form-group" style="margin:20px;">
            <InputFile OnChange="@OnFileSelected" class="form-control-file" />
            <ValidationMessage For="@(() => _fileUploadModel.Name)" class="text-danger" />
        </div>
        <FUButton Text="Upload" ButtonStyle="ButtonStyle.Primary" type="submit" disabled="@_isUploading" />
    </EditForm>
    @if (_isUploading)
    {
        <p class="upload-progress">Uploading file, please wait...</p>
    }
    @if (!string.IsNullOrEmpty(_uploadMessage))
    {
        <div class="upload-message">@_uploadMessage</div>
    }
    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @_errorMessage
        </div>
    }

</div>
<FUGrid FileUploadModels="@_files">
    <Columns>
        <Column Name="Name" Label="FileName" />
        <Column Name="Path" Label="FilePath" />
        <Column Name="Extension" Label="FileExtension" />
        <Column Name="CreatedOn" Label="CreationDate" />
        <Column Name="LastModifiedOn" Label="LastModifiedDate" />
    </Columns>
   
</FUGrid>






